.layoutContainer {
  display: flex;
  flex-direction: column; /* Set flex-direction to column */
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.layoutContent {
  margin-top: 20vh;
  z-index: 99;
  padding: 20px;
}

.layoutContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/home1.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  background-color: rgba(129, 117, 213, 0.7);
}

.logoContainer img {
  max-width: 15%; /* Adjust this percentage to control the size of logos */
  height: auto;
}

@media (max-width: 860px) {
  .logoContainer img {
    max-width: 40%; /* Adjust the size of logos on smaller screens */
  }
}
