.homePageContainer {
  /* margin-top: -15vh; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.logoContainer {
  margin-top: 5vh;
  width: 100vw; /* Ensures it takes 100% of the viewport width */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0; /* Adjust padding to avoid horizontal padding */
  background-color: white;
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

@media (max-width: 860px) {
  .logoContainer {
    justify-content: center;
    gap: 20px;
  }
}
