.footer {
  background-color: #0b1d51;
  color: #b7c0ee;
  padding: 2rem;
  /* margin-top: auto; */
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 2px solid green; */
}
.logo {
  align-items: center;
}
